<% flash.each do |type, msg| %>
  <div class="register-flash">
    <%= msg %>
  </div>
<% end %>


<div class="container-fluid mt-2">

<h5>Log in to your account :-</h4>

<%= render 'login' %>

<div class="container-fluid mt-2">
	<%= link_to "Sign up", "/users/new" %>
</div>

</div>