<div class="chat-template">
  <% @chats.each do |chat| %>
  <ul>
    <% if chat.sender_id == current_user.id %>
      <li class="msg-right">
    <% else %>
      <li class="msg-left">
    <% end %>
      <div class="msg-left-sub msg-desc">
        <div>
          <h5> <%= chat.m_body %> </h5>
          <span class="time"> <%= (Time.now.to_date - chat.created_at.to_date).to_i %>  days ago </span>
          <h4 class="sender_name"><%= chat.sender.name %></h4> 
          <%= link_to 'Delete', delete_message_path(chat), method: "delete", class: "link"%>
        </div>
      </div>
    </li>
  </ul>
  <% end %>
  
  <ul>
    <li>
      <div id="new_message">
      </div>
    </li>
  </ul>

</div>
