<div class="chat-template">
  <% @chats.each do |chat| %>
  <ul>
    <% if chat.sender_id == current_user.id %>
      <li class="msg-right">
    <% else %>
      <li class="msg-left">
    <% end %>
      <div class="msg-left-sub msg-desc">
        <div>
          <h5> <%= chat.m_body %><br> <span style="float:right;"> :-<%= chat.sender.name %></span>
            <br><%= link_to 'Delete', delete_message_path(chat), method: "delete", class: "link"%></h5>
        </div>
      </div>
    </li>
  </ul>
  <% end %>
  
  <ul>
    <li class="msg-left">
      <div id="new_message">
      </div>
    </li>
  </ul>

</div>
