<div id="post-modal" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header ml-6">
      
      </div>
    <div id='post-content'></div>

    <div class="modal-footer">
    </div>
    </div>
  </div>
</div>