<div class="right-section-bottom">
  <%= form_tag send_messages_path, remote: true, method: :post do %>
  <%= text_field_tag :m_body %>
  <%= hidden_field_tag :group_id, @group.id %>
  <%= submit_tag "Send" %>
  <% end %>
</div>
