// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-section small{
font-size: 12px;
}
.main-section h3, .main-section h5{
margin: 0px;
}
.main-section{
width: 960px;
background-color: #fff;
margin: auto;
}
.head-section{
border-bottom:1px solid #E6E6E6;
clear: both;
overflow: hidden;
width: 100%;
}
.headLeft-section{
width: calc(30% - 1px);
float: left;
border-right:1px solid #E6E6E6;
}
.headLeft-sub{
padding: 15px;
text-align: center;
}
.headLeft-sub input{
width: 80%;
border-radius: 7px;
border:1px solid #E6E6E6;
padding: 7px;
}
.headLeft-sub button{
background: #009EF7;
color: #fff;
border:1px solid #E6E6E6;
padding: 7px 15px;
}
.headRight-section{
width: 70%;
float: left;
border: 2px solid #d5cdcd;
border-radius: 22px;
background-color: #f9f4f3;
padding: 2px;
}

h3#message_reciever {
    font-family: ui-monospace;
    padding-bottom: 8px;
}

.headRight-sub{
padding: 10px 15px 0px 15px;
}
.body-section{
clear: both;
overflow: hidden;
width: 100%;
}
.left-section{
width: calc(30% - 1px);
float: left;
height: 500px;
border-right:1px solid #E6E6E6;
background-color: #FFF;
z-index: 1;
position: relative;
}
.left-section ul{
padding: 0px;
margin: 0px;
list-style: none;
}
.left-section ul li{
padding: 15px 0px;
cursor: pointer;
}

.mCustomScrollBox, .mCSB_container{
overflow: unset !important;
}

.left-section ul li.active:before{
position: absolute;
content: '';
right: -10px;
border:5px solid #009EF7;
top: 0px;
bottom: 0px;
border-radius: 0px 3px 3px 0px;
}

.left-section .chatList{
overflow: hidden;
}

.left-section .chatList .desc{
width: calc(100% - 60px);
float: left;
position: relative;
}
.left-section .chatList .desc h5{
margin-top: 6px;
line-height: 5px;
}

.right-section{
width: 70%;
float: left;
height: 500px;
background-color: #F6F6F6;
position: relative;
}
.message{
height: calc(100% - 68px);
font-family: sans-serif;
}
.message ul{
padding: 0px;
list-style: none;
margin: 0px auto;
width: 90%;
overflow:hidden;
}
.message ul li{
position: relative;
width: 80%;
padding: 15px 0px;
clear: both;
}
.message ul li.msg-left{
float: left;
}

.message ul li.msg-left .msg-desc{
margin-left: 3px;
font-size: 12px;
background: #cce5ff;
padding:5px 10px;
border-radius: 5px 5px 5px 0px;
position: relative;
margin-right: 149px;
}
.message ul li.msg-left .msg-desc:before{
position: absolute;
content: '';
border:10px solid transparent;
border-bottom-color: #cce5ff;
bottom: 0px;
left: -10px;
}
.message ul li.msg-left small{
float: right;
color: #c1c1c1;
}
.message ul li.msg-right{
float: right;
}
.message ul li.msg-right img{
position: absolute;
width: 40px;
right: 0px;
bottom: 30px;
}
.message ul li.msg-right .msg-desc{
margin-right: 8px;
font-size: 12px;
background: #cce5ff;
padding:5px 10px;
border-radius: 5px 5px 5px 0px;
position: relative;
margin-left: 159px;
}
.message ul li.msg-right .msg-desc:before{
position: absolute;
content: '';
border:10px solid transparent;
border-bottom-color: #cce5ff;
bottom: 0px;
right: -10px;
}
.message ul li.msg-right small{
float: right;
color: #c1c1c1;
margin-right: 70px;
}
.message ul li.msg-day{
border-top:1px solid #EBEBEB;
width: 100%;
padding: 0px;
margin: 15px 0px;
}
.message ul li.msg-day small{
position: absolute;
top: -10px;
background: #F6F6F6;
color: #c1c1c1;
padding: 3px 10px;
left: 50%;
transform: translateX(-50%);
}
.right-section-bottom{
background: #fff;
width: 100%;
padding: 15px;
position: absolute;
bottom: 0px;
border-top:1px solid #E6E6E6;
text-align: center;
}

.create_group{
float: right;
margin-right: 28px;
margin-top: 7px;
}

#m_body{
border: groove;
border-radius: 20px;
width: 80%;
}

.left-section li{
    border-bottom: ridge;
    border-radius: 10px;
}
button.btn.btn-success.group_create_button {
    border-radius: 15px;
    float: right;
    margin-right: 20px;
}

span.time {
    float: right;
    color: #6c4e4e;
    font-weight: bolder;
}

h4.sender_name {
    margin-top: 20px;
    margin-left: 194px;
    font-size: 21px;
    color: #261c1c;
}

#new_message{
    float: right;
    margin-top: 18px;
    margin-right: 25px;
}