// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field {
  width: 82%;
  margin-left: 17px;
}

.actions{
	margin: 17px;
}