// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.register-flash {
    color: #165a16;
    margin: 12px;
    font-family: unset;
    font-size: 18px;
}