// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.friend_count{
	color: red;
	font-size: 13px;
}
#logout_button{
	color: #fff;
	text-decoration: none;
}
